* {
  font-family: Lucida Sans, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

main {
  background-color: rgb(235, 235, 252);
  padding: 1em 2em;
  border-radius: 5em;
  text-align: center;
}

.ball {
  display: inline-block;
  height: 5em;
  width: 5em;
  border-radius: 100%;
}

#reset-game {
  margin: 2em 0;
  padding: 1em;
  background-color: rgb(186, 214, 220);
  border-style: none;
  border-radius: 5em;
}

#reset-game:hover {
  background-color: rgb(109, 191, 194);
}
