.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

main {
  background-color: rgb(235, 235, 252);
  padding: 2em;
  border-radius: 5em;
}

.ball {
  display: inline-block;
  height: 5em;
  width: 5em;
  border-radius: 100%;
}
